.popup{
    display: none;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    min-height: 100%;
    width: 100%;
    max-width: 1280px;
    top:0px;
    justify-content: center;
}
@media screen and (min-width: 320px) and (max-width: 900px){
    .popup{
        max-width: 320px;
    }
}